## 0.0 Pacotes e Bibliotecas

In [1]:
# Manipulação de Dados
import pandas as pd
import numpy  as no

# Visualização de Dados
from matplotlib import pyplot as plt
import seaborn as sbn

In [19]:
# Função para validação dos dados
def validacao_dados(dataset, nome_dataset):

    print(f'Validação dos Dados: {nome_dataset}')
    print(f'Quantidade de Linhas: {dataset.shape[0]}, Quantidade de Colunas: {dataset.shape[1]}.')

## 1.0 Carregamento dos Dados

In [8]:
df1_fato = pd.read_csv('../BaseDados/DadosTreino.csv', delimiter=',', low_memory=False)
df1_dimensao = pd.read_csv('../BaseDados/DadosLoja.csv', delimiter=',', low_memory=False)

print('Validação dos Dados')
print(f'Fato -> Quantidade de Linhas: {df1_fato.shape[0]}, Quantidade de Colunas: {df1_fato.shape[1]}.')
print(f'Dimensão -> Quantidade de Linhas: {df1_dimensao.shape[0]}, Quantidade de Colunas: {df1_dimensao.shape[1]}.')

Validação dos Dados
Fato -> Quantidade de Linhas: 1017209, Quantidade de Colunas: 9.
Dimensão -> Quantidade de Linhas: 1115, Quantidade de Colunas: 10.

In [9]:
# Amostra dos Dados Dimensão
print('Amostra dos Dados Fato')
df1_fato.head(2)

Amostra dos Dados Fato

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1

In [10]:
# Amostra dos Dados Dimensão
print('Amostra dos Dados Dimensão')
df1_dimensao.head(2)

Amostra dos Dados Dimensão

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"

Para que tenhamos um conjunto de dados completo, vamos fazer o junção entre a dimensão e a fato para trazer, para a fato, as informações da loja.

In [20]:
# Realização de um left join
df1 = df1_fato.merge(df1_dimensao, how='left', on='Store') 

# Validação dos Dados
validacao_dados(df1, 'df1')

Validação dos Dados: df1
Quantidade de Linhas: 1017209, Quantidade de Colunas: 18.

Com o conjunto de dados pronto e consolidado, vamos iniciar a nossa análise exploratória de dados,

## 2.0 Análise Exploratória dos Dados